<h1 id="title"> <%= @blog.title %> </h1>
<p id="author"> By <%= @blog.author %></p>
<p> <%= @blog.content %> </p>
<%= @blog.created_at %>
<a href="<%= blogs_path %>" class="btn btn-info">Return to the blogs </a>